body {
    background-color:#EDF2F7 ;
}
header {
    background-color: #EDF2F7;
    padding: 50px;
    text-align: center;
}
    
main {
        text-align: right;
        margin-top: 0px;
}
.button {
    background-color:#8FA2CA ;
    border: none;
    color: #EDF2F7;
    padding: 0px 42px;
    text-align: right;
    text-decoration: dashed;
    font-size: 34px;
    margin: 0px 0;
    cursor: pointer;
    border-radius: 15px; /* Скругленные углы */
    transition: background-color 0.5s ease;
}
.button:hover {
    background-color: #45a049; /* Цвет кнопок при наведении */
  }